<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <!-- Power section -->
  <fd.settings.shield.power.heading>電力</fd.settings.shield.power.heading>

  <fd.settings.shield.power.per_tile.label>タイル毎の電力</fd.settings.shield.power.per_tile.label>
  <fd.settings.shield.power.minimum_online.label>稼働最小電力</fd.settings.shield.power.minimum_online.label>

  <!-- Integrity section -->
  <fd.settings.shield.integrity.heading>安全性</fd.settings.shield.integrity.heading>

  <fd.settings.shield.integrity.power_per_damage.label>ダメージ毎の電力</fd.settings.shield.integrity.power_per_damage.label>
  <fd.settings.shield.integrity.drop_pod_damage.label>落下ポッドのダメージ</fd.settings.shield.integrity.drop_pod_damage.label>
  
  <fd.settings.shield.integrity.skyfaller_damage.label>隕石のダメージ</fd.settings.shield.integrity.skyfaller_damage.label>

  <!-- Thermal section-->
  <fd.settings.shield.thermal.heading>放熱</fd.settings.shield.thermal.heading>

  <fd.settings.shield.thermal.per_power.label>放熱毎の電力</fd.settings.shield.thermal.per_power.label>

  <fd.settings.shield.thermal.label>シールド放熱を有効化</fd.settings.shield.thermal.label>
  <fd.settings.shield.thermal.description>シールドの放熱を有効にします。シールドが熱で誤動作を起こして、事故が発生する可能性が生じます。</fd.settings.shield.thermal.description>

  <fd.settings.shield.minor_thermal_incidents.label>限定的な放熱事故を有効化</fd.settings.shield.minor_thermal_incidents.label>
  <fd.settings.shield.minor_thermal_incidents.description>シールドに影響するものに限定した、事故が発生する可能性を有効にします。</fd.settings.shield.minor_thermal_incidents.description>

  <fd.settings.shield.major_thermal_incidents.label>通常な放熱事故を有効化</fd.settings.shield.major_thermal_incidents.label>
  <fd.settings.shield.major_thermal_incidents.description>シールドと電力網に影響を与える、通常の事故が発生する可能性を有効にします。</fd.settings.shield.major_thermal_incidents.description>

  <fd.settings.shield.critical_thermal_incidents.label>重大な放熱事故を有効化</fd.settings.shield.critical_thermal_incidents.label>
  <fd.settings.shield.critical_thermal_incidents.description>シールドと電力網、およびマップ全体に影響する、重大な事故が発生する可能性を有効化します。</fd.settings.shield.critical_thermal_incidents.description>

</LanguageData>
