<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <!-- General section -->
  <fd.settings.shield.general.heading>一般設定</fd.settings.shield.general.heading>

  <fd.settings.shield.shootout.label>有効：外への射撃</fd.settings.shield.shootout.label>
  <fd.settings.shield.shootout.description>シールド内からの射撃をシールドの外に対して通すようにします。</fd.settings.shield.shootout.description>

  <fd.settings.shield.overlap-passthrough.label>有効：シールド重複を透過</fd.settings.shield.overlap-passthrough.label>
  <fd.settings.shield.overlap-passthrough.description>射撃や爆発が重なっているシールドの領域を通過できるようにします。</fd.settings.shield.overlap-passthrough.description>

  <fd.settings.shield.scale-heat.label>シールド放熱状態で消費電力変動</fd.settings.shield.scale-heat.label>
  <fd.settings.shield.scale-heat.description>ダメージをブロックするとシールド内部が涼しいときは消費電力が少なく、熱くなるとさらに多くの電力を消費します。また、これを使用する場合は、「Centralized Climate Control」Modを使用することをお勧めします</fd.settings.shield.scale-heat.description>

  <!-- Power section -->
  <fd.settings.shield.power.heading>電力</fd.settings.shield.power.heading>

  <fd.settings.shield.power.per_tile.label>タイル毎の電力</fd.settings.shield.power.per_tile.label>
  <fd.settings.shield.power.minimum_online.label>稼働最小電力</fd.settings.shield.power.minimum_online.label>

  <!-- Integrity section -->
  <fd.settings.shield.integrity.heading>安全性</fd.settings.shield.integrity.heading>

  <fd.settings.shield.integrity.power_per_damage.label>ダメージ毎の電力</fd.settings.shield.integrity.power_per_damage.label>
  <fd.settings.shield.integrity.drop_pod_damage.label>落下ポッドのダメージ</fd.settings.shield.integrity.drop_pod_damage.label>
  
  <fd.settings.shield.integrity.skyfaller_damage.label>隕石のダメージ</fd.settings.shield.integrity.skyfaller_damage.label>

  <!-- Thermal section-->
  <fd.settings.shield.thermal.heading>放熱</fd.settings.shield.thermal.heading>

  <fd.settings.shield.thermal.per_power.label>放熱毎の電力</fd.settings.shield.thermal.per_power.label>

  <fd.settings.shield.thermal.label>シールド放熱を有効化</fd.settings.shield.thermal.label>
  <fd.settings.shield.thermal.description>シールドの放熱を有効にします。シールドが熱で誤動作を起こして、事故が発生する可能性が生じます。</fd.settings.shield.thermal.description>

  <fd.settings.shield.minor_thermal_incidents.label>限定的な放熱事故を有効化</fd.settings.shield.minor_thermal_incidents.label>
  <fd.settings.shield.minor_thermal_incidents.description>シールドに影響するものに限定した、事故が発生する可能性を有効にします。</fd.settings.shield.minor_thermal_incidents.description>

  <fd.settings.shield.major_thermal_incidents.label>通常な放熱事故を有効化</fd.settings.shield.major_thermal_incidents.label>
  <fd.settings.shield.major_thermal_incidents.description>シールドと電力網に影響を与える、通常の事故が発生する可能性を有効にします。</fd.settings.shield.major_thermal_incidents.description>

  <fd.settings.shield.critical_thermal_incidents.label>重大な放熱事故を有効化</fd.settings.shield.critical_thermal_incidents.label>
  <fd.settings.shield.critical_thermal_incidents.description>シールドと電力網、およびマップ全体に影響する、重大な事故が発生する可能性を有効化します。</fd.settings.shield.critical_thermal_incidents.description>

</LanguageData>
